{% extends 'vehicles/base.html'%}
<html>
{% block content%}
<div class="jumbotron center">

    <h3 class="text-center">
        <p>Vehicles Page</p>
    </h3>
    <div class="row">
      {% for vehicle in vehicles %}
      <div class="col-md-4">
        <div class="card text-start rounded">
        
            <img class="card-img-top thumbnail" src="{{vehicle.file.url}}" style="height:200px"/>
            <div class="card-body">
                <a href="{% url 'detail' vehicle.id%}" class="card-title">{{vehicle.YOM}}, {{vehicle.make}} {{vehicle.model}}</a>
                <p class="card-text">{{vehicle.reserve_price}}</p> 
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-3"></div>
</div>
</div>{% endblock content%}

</html>