{% extends 'vehicles/base.html'%}
{% load crispy_forms_tags%}
{% load static %}
<html>
{% block content%}
<div class="jumbotron center">

    <h3 class="text-center">
        <p>Vehicles Page</p>
    </h3>
    <form method="get" class="form-inline my-2 my-lg-0 p-2 m-2 p-3" >
    
            <div class="form-row">
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.make|as_crispy_field }}
                </div>
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.model|as_crispy_field }}
                </div>
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.YOM|as_crispy_field }}
                </div>
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.body_type|as_crispy_field }}
                </div>
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.engine_cc|as_crispy_field }}
                </div>
                <div class="form-group ml-2">
                    {{ vehiclefilter.form.fuel_type|as_crispy_field }}
                </div>
            </div>
            <button type="submit" class="btn btn-info mt-2 ml-2">Filter</button>
            <a href="{% url 'vehicles' %}" class="btn btn-secondary mt-2 ml-2">Clear Filters</a>

        </form>
     {% comment %} <form class="form-inline my-2 my-lg-0 p-2 m-2 p-3" method="GET">
   
            {{vehiclefilter.form|crispy}}

            <button type="submit" class="btn btn-info m-2">Filter</button>
        </form> {% endcomment %}
        <!-- <div class="text-center row">
            <p>{{vehicles_count}} Vehicles on Auction.</p>
        </div> -->
    <div class="row">
        
      {% for vehicle in vehicles %}
      <div class="col-md-4">
        <div class="card text-start rounded">
        
            <img class="card-img-top thumbnail" src="{{vehicle.file.url}}" style="height:200px"/>
            <div class="card-body">
                <a href="{% url 'detail' vehicle.id%}" class="card-title">{{vehicle.YOM}}, {{vehicle.make}}, {{vehicle.registration_no}}</a>
               
                <p>{{ vehicle.status}}</p>
            </div>
            
          </div>
      </div>
      {% empty %}
            <div class="jumbotron">
                <p>Sorry, we do could not  find a vehicle with your specifications, please try searching again</p>
            </div>
      {% endfor %}
      
    </div>
    <div class="col-md-3"></div>
</div>
</div>{% endblock content%}

</html>