{% extends 'vehicles/base.html' %}

{% block content %}
<div class="container jumbotron p-3 m-2">
    <h2>{{ profile.user.username }}'s Profile</h2>
    <ul>
        <li><strong>Username:</strong> {{ profile.user.username }}</li>
        <li><strong>ID Number:</strong> {{ profile.id_number }}</li>
        <li><strong>Phone Number:</strong> {{ profile.phone_number }}</li>
    </ul>

    <h3>Your Bids</h3>
    {% if user_bids %}
        {% regroup user_bids by vehicle as vehicle_bids %}
        <div class="accordion" id="bidsAccordion">
            {% for group in vehicle_bids %}
                <div class="card">
                    <div class="card-header" id="heading{{ forloop.counter }}">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ group.grouper.make }} {{ group.grouper.model }} ({{ group.grouper.YOM }})
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#bidsAccordion">
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bid in group.list %}
                                    <tr>
                                        <td>{{ bid.amount }}</td>
                                        <td>{{ bid.created_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No bids found.</p>
    {% endif %}
    <a href="{% url 'homepage' %}" class="btn btn-info mt-2">Back to Home</a>
</div>
{% endblock %}
