{% extends 'vehicles/base.html'%}
{% load static %}
{% load humanize %}

<html>
{% block content%}

  <!-- About 1 - Bootstrap Brain Component -->
            <div class="jumbotron jumbotron_body">
              <img class="img-fluid rounded" loading="lazy" src="{% static 'images/riverlong2.jpg' %}"  alt="About 1">
              <div class="centered">
                <div class="row jumbotron_head_row">        
                  <label class="jumbotron_head">Riverlong Limited</label>
                </div>
                <div class="row bg-danger banner">
                  <h6 class="jumbotron_head1">Discover, Bid, and Win – Track to safety - Monitor and get economic value</h6>
                  <h5 class="jumbotron_head2">Your Gateway to Exceptional motor Experiences!</h5>
                </div>
              </div>        
            </div>

          <div class="container aboutus_pane">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
              <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="{% static 'images/RL-Logo.png' %}"  alt="About 1">
              </div>
              <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11">
                    <h2 class="mb-3 who_text">Who Are We?</h2>
                    <p class="lead fs-4 mb-3"><b>Riverlong Limited</b> offers bidding and auction for new and used vehicles that are in good condition. We are also the best telematics solution provider in East Africa and extends our services to vehicle recovery and storage.</p>
                    <!-- <p class="mb-5"><b>Riverlong Limited</b> is a telematics company that offers a wide range of technological solutions in the motor industry. We have a powerful suite of tools and a mobile workforce deliver solution to your fleet needs anytime anywhere. Our technology can transform the way you do business giving you a competitive edge, reducing your operation costs and improving your efficiency.</p> -->
                  </div>
                </div>
              </div>
            </div>  
              <div class="row gy-4 gy-md-0 gx-xxl-5X">
                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-2 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/sales.png' %}" width="200px" height="150px" alt="About 1">
                      <!-- <img src="{% static 'images/sales.png' %}"> -->
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Vehicle Sales</h2>
                      <p class="text-secondary mb-0">Riverlong Limited, powered by <b>AUTOBID</b>, transforms the car-buying journey by combining advanced technology with the thrill of live auctions. Your dream car is just a bid away.</i></p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-2 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/towing.png' %}" width="200px" height="150px" alt="About 1">
                      <!-- <img src="{% static 'images/towing.png' %}"> -->
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Vehicle Recovery</h2>
                      <p class="text-secondary mb-0">With towing trucks stationed at multiple locations, we provide 24/7 recovery services, including long-distance towing, motorsport towing, motorcycle transport and repossessions.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/storage.jpeg' %}" width="200px" height="200px" alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Vehicle storage</h2>
                      <p class="text-secondary mb-0">Riverlong Yard offers our clients a safe and secure vehicle storage with controlled access, 24/7 surveillance, on-site security with elite, top-tier guards, well-organized parking, fire prevention measures, and regular maintenance to protect vehicles from theft and damage.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/dashcam.png' %}" width="200px" height="150px" alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Video telematics</h2>
                      <p class="text-secondary mb-0">Our Dashcam offers a real-time video recording with AI capabilities. The solutions gives vehicle live location and records what happens inside and around your vehicle.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/tracking.png' %}" width="200px" height="150px" alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Asset Tracking</h2>
                      <p class="text-secondary mb-0">With the GPS and GNSS technology incorporated in our solutions, we offer real-time tracking of client assets both static and mobile. The solution also include geofencing, alerts, and reports.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/fleet.png' %}"  width="200px" height="150px"  alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Fleet Management solution</h2>
                      <p class="text-secondary mb-0">Our fleet management solution comes with driver behaviour management, route management, fuel consumption analysis. The package also include advance notofications on sms, emails and push alerts.</p>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/fuel.png' %}" width="200px" height="150px" alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Fuel Monitoring</h2>
                      <p class="text-secondary mb-0">Our advance fuel monitoring solution give instant notifications on drains, refills and any abnormal consumption. Use this to reduce your transportation cost by 25%.</p>
                    </div>
                  </div>
                </div>
              
                <div class="col-12 col-md-6 mt-5">
                  <div class="d-flex">
                    <div class="me-4 text-primary">
                      <img class="img-fluid rounded" loading="lazy" src="{% static 'images/temp.png' %}" width="200px" height="150px" alt="About 1">
                    </div>
                    <div>
                      <h2 class="h4 mb-3">Cold-chain Management</h2>
                      <p class="text-secondary mb-0">Riverlong Temperature monitoring solution relays a realtime data of cold rooms and refrigerated vehicles. The solutions comes with both alerts and advance reporting modules.</p>
                    </div>
                  </div>
                </div>
                
              </div>
            
        </div>
      </div>

      <div class="jumbotron">
        <hr>
        <div class="row">
          <div class="col-md-2">
            <label class="year">6</label> 
          </div>
          <div class="col-md-4">
            <h3>Years on the Market</h3>
            <p> Our platform that is accessible both on mobile devices and on the web gives a wide array of vehicles that gives explorable bidding and unbeatable excitement.</p>
            <p> Riverlong's is a <b>CAK licensed</b> telematics solution provider that uses modern technology to offer tracking, fuel monitoring, video telematics among other related services.</p>
          </div>


          <div class="col-md-6">
            <h3>Some of our esteemed Clients</h3>

            <div class="container text-center my-3">
              <div class="row mx-auto my-auto justify-content-center">
                
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/equity.png' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                    
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/cak.jpg' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                   
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/almasi.jpg' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                  
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/lincap.png' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                    
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/strath1.png' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                    
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/Stanbic.jpg' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                    
                      <div class="col-md-3">
                        <div class="card">
                          <div class="card-img">
                            <img class="img-fluid rounded" src="{% static 'images/voca.png' %}" width="200px" height="150px" alt="About 1">
                          </div>
                          
                        </div>
                      </div>
                    </div>
                   
                  </div>
              
            </div>

          

          </div>

        </div>
      </div>
    </div>
<script>
let items = document.querySelectorAll('.carousel .carousel-item')

items.forEach((el) => {
  const minPerSlide = 4
  let next = el.nextElementSibling
  for (var i=1; i<minPerSlide; i++) {
    if (!next) {
        // wrap carousel by using first child
        next = items[0]
    }
    let cloneChild = next.cloneNode(true)
    el.appendChild(cloneChild.children[0])
    next = next.nextElementSibling
}
})
</script>

{% endblock content%}

</html>