{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riverlong | Autobid</title>

    <link rel="stylesheet" href="{% static 'vehicles/css/styles.css' %} ">
    <link rel="stylesheet" href="{% static 'vehicles/css/footer.css' %} ">
    <script src="{% static 'vehicles/js/index.js'%}"></script>

    <!--<link rel="stylesheet" href="{% static 'vehicles/css/details_style1.css' %} ">-->
    <meta charset="UTF-8">
    <title>Vehicle {{ vehicle.registration_no }}</title>

    <!-- Open Graph meta tags for sharing -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Vehicle {{ vehicle.registration_no }}">
    <meta property="og:description" content="Check out this vehicle: {{ vehicle.registration_no }}!">
    <meta property="og:image" content="{{ vehicle.image.url }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <link rel="icon" type="image/svg" href="{% static 'images/logo-autobid.svg' %}">
    <title>RVAS</title>
  </head>

<body> 
  <style>
    /* Spinner Styles */
    #spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.1);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-border {
        width: 3rem;
        height: 3rem;
        border-width: 0.4rem;
    }
</style>
    <div class="wrapper">    
        <div class="top_nav">
            <div class="left">
              <div class="space"> . </div>

              <div class="call_span">
                <img src="{% static 'images/telephone.svg' %}" height="14px" width="24px" />
                <span for="">+254 701856557</span>
              </div>

              <div class="email_span">
                <img src="{% static 'images/envelope-at.svg' %}" height="14px" width="24px" />
                <span for=""> info@riverlong.com</span>
              </div>

              <div class="opentime_span">
                <img src="{% static 'images/clock.svg' %}" height="14px" width="24px" />
                <span for="">  Mon - Fri: 08:00 - 17:00</span>
              </div>
              <div class="opentime_span">
                <img src="{% static 'images/clock.svg' %}" height="14px" width="24px" />
                <span for="">  Sat: 08:00 - 12:00</span>
              </div>
              
              
          </div> 
          <div class="right">
           <!-- <div class="search-span">

            </div>
            <div class="flag-span">
                Flag
            </div>
            <div class="signin-span">
                Sign In
            </div>
            <div class="signup-span">
                Sign Up
            </div>-->
            <ul>
              <li>
                <!-- <div class="search-span">                
                  <label for="">RVAS</label>   
                                      
                </div> -->
                
            </li>
              <li>
                <div class="flag-span">
                  <img src="{% static 'images/Kenya.png' %}" height="30px" width="30px" />
              </div>
              </li>
              {% if user.is_authenticated %}              
                {% if user.is_staff %}<li>
                  <div class="signin-span">
                  <a class="nav-link" href="{% url 'reports' %}">Reports</a>                      
              </div>
            </li>
                  <li>
                      <div class="signin-span">
                      <a class="nav-link" href="/admin">Admin</a>                      
                  </div>
                </li>
                {% endif %}
                <li>
                  <div class="signin-span">
                      <a class="nav-link" href="{% url 'profile' %}">
                        <!--<img src="{% static 'images/person-circle.svg' %}" height="14px" width="24px" />-->
                        {{user.username}}</a>
                      
                  </div>
                </li>
                <div class="signin-span">
                  <a class="nav-link" href="/logout">Logout</a>
                  
              </div>
            </li>               

                {% else %}
                <li>
                  <div class="signin-span">
                    <a class="nav-link" href="/login">Login</a>
                    
                </div>
              </li>

              <li>
                <div class="signup-span">
                  <a class="nav-link" href="/register">Register</a>
              </div>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>

        <div class="bottom_nav mb-5">           
            <ul>
              <li>
                <div class="logo-span">
                  <img src="{% static 'images/logo-autobid.svg' %}" height="60px" width="100px" />
              </div>
              </li>
              <li>
                <a href="{% url 'homepage'%}">Home</a>
              </li>
              <li>
                <a href="{% url 'aboutus' %}">About Us</a>
              </li>
              <li>
                <a href="{% url 'available_vehicles' %}">Vehicles</a>
              </li>
              
              <li>
                <a href="{% url 'contactus' %}">Contact Us</a>
              </li>
              
            </ul>
      </div>
    
    </div>

    <div>
     
        <!-- Bootstrap Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="messageModalLabel">Notification</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="container text-center message-container">
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
                  {% endfor %}
                  {% endif %}
              </div>
          </div>
         
      </div>
  </div>
</div>

<!-- JavaScript to Trigger Modal -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
      {% if messages %}
      var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
      messageModal.show();
      {% endif %}
  });
</script>

        <body class="bg-light">   
              <div class="container_body">
                {% block content%} {% endblock content%}
              <!-- Loading Spinner -->
    <div id="spinner" class="d-none">
      <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
      </div>
  </div>
                {% block footer%} {% endblock%}
              </div>
              
              {% include 'vehicles/footer.html' %}

              <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const spinner = document.getElementById('spinner');
                    spinner.classList.remove('d-none');  // Show spinner
        
                    window.addEventListener("load", function() {
                        spinner.classList.add('d-none');  // Hide spinner when page fully loads
                    });
                });
            </script>
    
  </body>
  
<!-- Include Bootstrap JS and dependencies -->
<script src="{% static 'vehicles/js/index.js'%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS (including Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</html>