{% extends 'vehicles/base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% load humanize %}

<html>
{% block content%}
<div class="container vehicles_pane">
<div class="jumbotron center">
    
        <ul class="breadcrumb">
            <li><a href="{% url 'homepage'%}">Home</a></li>
            <li>Available Vehicles</li>
          </ul>

    
        <!-- <div class="text-center row">
            <p>{{vehicles_count}} Vehicles on Auction.</p>
        </div> -->
    <div class="row">
        
      {% for vehicle in available_vehicles  %}

      <div class="col-md-4">
        <div class="card car_cad">
            <div class="car_image">
                <a href="{% url 'detail' vehicle.registration_no%}"><img class="car_img" src="{{vehicle.file.url}}"  /></a>
            </div>       
            
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="car_name"><a href="{% url 'detail' vehicle.registration_no%}">{{vehicle.YOM}} • {{vehicle.make}} • {{vehicle.model}}</a></label>
                    </div>
                    <div class="col-md-12">
                        <span class="car_info">{{ vehicle.mileage }} KM • {{vehicle.engine_cc}} CC • {{vehicle.fuel_type}} • {{vehicle.registration_no}}</span>
                    </div>
                    <div class="col-md-12">
                        <hr/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Ksh {{vehicle.reserve_price|intcomma}}</label>
                    </div>
                 
                </div>
                
            </div>
          </div>
      </div>
      {% endfor %}
      

    </div>
    <div class="col-md-12 text-center">
        <a type="button" href="{% url 'vehicles' %}" class="btn btn-lg btn-info text-white ">Vehicles on Auction <i class="fa fa-chevron-right fw-normal"></i> </a>
    </div>
</div>
</div>
</div>

{% endblock content%}

</html>