/* myapp/static/myapp/css/styles.css */
body {
    background-color: #0c7ae7;
}

.jumbotron {
    padding: 2rem 2rem;
}

.card {
    margin-bottom: 2rem;
}

.img-thumbnail {
    cursor: pointer;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}
